<template name="home">
    {{#each photos}}
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive img-thumbnail popup" src="{{ image }}" data-image="{{ image }}">
            </div>
            <div class="col-md-10">
                <h3>{{ name }}</h3>
                <p>{{ description }}</p>
                <small>{{createdAt}}</small>
            </div>
        </div>
        <hr>
    {{else}}
        <p>There are no photo shared in the current moment</p>
    {{/each}}
</template>